@font-face { font-family: Bebas; src: url('../fonts/BebasNeue.otf'); }
@font-face { font-family: Avenir; src: url('../fonts/AvenirNextLTPro-Bold.woff'); }

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  margin: auto;

  display: flex;
  align-items: center;
}

.search {
	font-family: Bebas;
	color: white;
	margin: auto;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.progress {
  background-color: none;
  height: 50px !important;
  font-size: 22px;
  font-family: Avenir;
}

.roleimgs {
  height: 25px;
  display: block;
}

.tooltip {
  min-width: 150px !important;
}

.roleicon {
  position: absolute;
  margin-top: -59px;
}

span.badge.bluebadge.cwinloss {
  background-color: #202323;
}

span.badge.redbadge.cwinloss {
  background-color: #202323;
}

.form-group {
	padding-top: 100px;
	margin: auto;
}

#searchbutton {
	margin-top: 10px;
	color: black;
}

#mainbg {
  background: url(../img/bg_sol_trans.png) no-repeat; 
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.navbar {
	background: rgba(0, 0, 0, 0.7);
}

footer {
	text-align: center;
}

.footerdiv {
	margin-top: 100px;
	padding-right: 20px;
	padding-left: 20px;
	background: rgba(0,0,0,0.7);
	color: white;
}

#summonername {
	background: rgba(80, 140, 193, 0.51);
	font-size: 2.0em;
}

small {
	padding-left: 1px;
}

#playerbox {
	display: inline-block;
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.profilesize {
	width: 200px;
}

.bans {
	align: center;
	height: 50px;
	padding-bottom: 3px;
}

.teamblue {
	padding-top: 70px;
}

.teamred {

}

.message_username {
	position: absolute;
	font-size: 2em;
	font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.summoners {
/*	position: inherit;*/
}

.sumimages {
	width: 3em;
}

body {
	overflow-x: hidden; 
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    /*margin-right:-2px;*/
}

.message_username {
	margin-top: -5px;
	margin-bottom: -5px;
	font-size: 1.7em;
	position: inherit;
	text-align: center;
	font-family: Bebas;
	color: white;
}

#teamsbg {
	background: rgba(0,0,0,0.7);
}

.divisor {
	padding-top: 10px;
	padding-bottom: 10px;
}

.txtoverlay {
	text-shadow: 2px 2px 8px #000000;
	position: absolute;
	color: white;
}

.banrates {
	margin-top: 25px;
	text-shadow: 2px 2px 8px #000000;
	color: white;
	position: absolute;
	display: inline-flex;
	font-weight: 600;
}

time {
	color: black;
	font-family: Avenir;
	background: crimson;
	margin-right: -20px;
}

p {
	color: white;
	margin-top: 7px;
}

.champion-winloss {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95em;
}

.tooltip.redbadge {
	background-color: rgba(255, 0, 57, 0.81);
}

.redbadge {
  background-color: rgba(255, 0, 57, 0.70);
}

.bluebadge {
  
}

span.badge.rolebadge {
  background-color: rgba(240, 248, 255, 0.37);
}

.badge {
	border-radius: 2px;
	white-space: nowrap;
}

.tiericon {
	width: 40%;
	padding-top: 6.5em;
}

.bluebanner {
	width: 148px;
	position: static;
	display: inline-block;
	margin-right: -17px;
	height: 99%;
	background: rgba(52, 145, 226, 0.9);
}

.redbanner {
	width: 148px;
	position: static;
	display: inline-block;
	margin-right: -17px;
	height: 99%;
	background: rgba(255, 31, 31, 0.68);
}

.matchupstats {
	line-height: 50%;
}

.matchupstatbox {
	background: rgba(0,0,0,0.3);
}

.jumbotron h1 {
	font-weight: 700;
  letter-spacing: -0.02em;
}

.overall {
	font-family: Avenir;
}

.rank {
	background: rgba(0,0,0,0.7);
}

.text-muted {
	background: red;
	color: #F5F4F4;
}