@font-face { font-family: Bebas; src: url('../fonts/BebasNeue.otf'); }
@font-face { font-family: Avenir; src: url('../fonts/AvenirNextLTPro-Bold.woff'); }

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  margin: auto;

  display: flex;
  align-items: center;
}

.search {
	font-family: Bebas;
	color: white;
	margin: auto;

	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

.form-group {
	margin: auto;
}

#mainbg {
  background: url(../img/bg_sol.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
	background: rgba(0, 0, 0, 0.7);
}

footer {
	text-align: center;
}

.footerdiv {
	padding-right: 200px;
	padding-left: 200px;
	background: rgba(0,0,0,0.7);
	color: white;
}

#summonername {
	font-size: 2.0em;
}

small {
	padding-left: 1px;
}

#playerbox {
	display: inline-block;
	/*background: rgba(0,0,0,0.50);*/
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.profilesize {
	width: 200px;
}

.bans {
	align: center;
	height: 50px;
	padding-bottom: 3px;
}

.teamblue {
	padding-top: 100px;
}

.message_username {
	position: absolute;
	font-size: 2em;
	font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.summoners {
/*	position: inherit;*/
}

.sumimages {
	width: 3em;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    /*margin-right:-2px;*/
}

.message_username {
	margin-top: -5px;
	margin-bottom: -5px;
	font-size: 1.7em;
	position: inherit;
	text-align: center;
	font-family: Bebas;
	color: white;
}

#teamsbg {
	background: rgba(0,0,0,0.7);
}

.divisor {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.txtoverlay {
	text-shadow: 2px 2px 8px #000000;
	position: absolute;
	color: white;
}

.banrates {
	text-shadow: 2px 2px 8px #000000;
	color: white;
	position: absolute;
	display: inline-flex;
	font-weight: 600;
}

time {
	color:white;
	font-family: Avenir;
}

p {
	color: white;
}

.champion-winloss {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.95em;
}

.tooltip.redbadge {
	color: red;
}

.badge {
	border-radius: 2px;
	white-space: nowrap;
}

.tiericon {
	width: 40%;
	padding-top: 7em;
}

.matchupstats {
	line-height: 50%;
}

.matchupstatbox {
	padding: 15px;
	background: rgba(0,0,0,0.3);
}

.jumbotron h1 {
	font-weight: 700;
  letter-spacing: -0.02em;
}

.overall {
	font-family: Avenir;
}

.rank {
	background: rgba(0,0,0,0.7);
}

.win {

}