<div class="row">
	<div class="main col-md-12 .jumbotron vertical-center">
		<div class="search col-md-6">
			<div class="form-group">

	  		<form name="findgame" ng-submit="submit()">
				  <fieldset class="form-group">
				    <span id="summonername">Welcome to S+ gg</span>
				    <input type="search" ng-model="text" ng-bind-html class="form-control" id="searchbox" placeholder="Enter Summoner Name!" ng-minlength='5' required>
				    <small class="text-muted" ng-show="error">{{error}}</small>
				  </fieldset>
				  <button type="submit" id="searchbutton">Search</button>
				</form>

			</div>
			<div class="footerdiv">
				<p>SPlus.gg isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
			</div>
		</div>
	</div>
</div>