        <div class="teamblue row row-centered">
            <time am-time-ago="gameStarted"></time>
            <br>
            <div class="bans">
                <span ng-repeat="ban in bluebans" class="banpercent">
                <p class="banrates">{{ban.staticData.banRate}}</p>
                <img class="bans" ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/champion/{{ban.championUrl}}.png">
                </span>
            </div>
            <div class="col-xs-4 col-md-2 col-half-offset col-centered" id="playerbox" ng-repeat="player in blueteam">
                      <div class="playerframe">
                      <span class="txtoverlay">
                      <p>{{player.champStaticData.general.overallPosition}}</p>
                      <p>{{player.champStaticData.general.winPercent}}</p>
                      <img class="tiericon" ng-src="../img/tier-icons/tier_icons/{{player.tierData.tier}}_{{player.tierData.division}}.png">
                      </span>
                        <img class="profilesize" ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{player.imageUrl}}_0.jpg">
                        <p class="message_username">{{player.summonerName}}</p>
                        <a class="summoners" href=""></a>
                            <div class="summoners">
                                <img class="sumimages" ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/profileicon/{{player.profileIconId}}.png">
                                <img class="sumimages" ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/spell/{{player.summonerOneUrl}}.png">
                                <img class="sumimages" ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/spell/{{player.summonerTwoUrl}}.png">
                            </div>
                            <span class="champion-winloss">Win Rate {{player.summonerChampStats.stats.winRate}}%</span>
                            <span class="trajectory">{{player.last_twenty}}</span>
                          <span class="roles">{{player.common_roles}}</span>
                        </div>
                        <div ng-repeat="item in player.badges" class="badges">
                        <span uib-tooltip="{{item.tooltip}}" tooltip-class="bluebadge" class="badge">{{item.display}}</span>
                      </div>
                    </div>
            </div>


        <div class="divisor">
          <div class="teamblue row row-centered">
            <div class="col-xs-4 col-md-2 col-half-offset col-centered" ng-repeat="matchup in matchups">
              <div class="matchupstatbox">
                <p>{{matchup.versus}}</p>
                <p>{{matchup.role}}</p>
                <p>{{matchup.games}}</p>
                <p>{{matchup.winRate}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="teamred row row-centered">
            <time am-time-ago="gameStarted"></time>
            <br>
           <div class="bans">
                <span ng-repeat="ban in redbans" class="banpercent">
                <p class="banrates">{{ban.staticData.banRate}}</p>
                <img class="bans" ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/champion/{{ban.championUrl}}.png">
                </span>
            </div>
            <div class="col-xs-4 col-md-2 col-half-offset col-centered" id="playerbox" ng-repeat="player in redteam">
                      <div class="playerframe">
                      <span class="txtoverlay">
                      <p>{{player.champStaticData.general.overallPosition}}</p>
                      <p>{{player.champStaticData.general.winPercent}}</p>
                      </span>
                        <img class="profilesize" ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{player.imageUrl}}_0.jpg">
                        <p class="message_username">{{player.summonerName}}</p>
                        <a class="summoners" href=""></a>
                            <div class="summoners">
                                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/spell/{{player.summonerOneUrl}}.png">
                                <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/spell/{{player.summonerTwoUrl}}.png">
                            </div>
                            <img ng-src="http://ddragon.leagueoflegends.com/cdn/6.6.1/img/profileicon/{{player.profileid}}.png">
<!--                             <span class="champion-winloss">Win Rate {{player.summonerChampStats.stats.winRate}}%</span>
                            <span class="trajectory">{{player.last_twenty}}</span> -->
                          <!-- <span class="roles">{{player.common_roles}}</span> -->
                        </div>
                        <div ng-repeat="item in player.badges" class="badges">
                          <span uib-tooltip="{{item.tooltip}}" tooltip-class="redbadge" class="badge">{{item.display}}</span>
                        </div>
                    </div>
            </div>
        